 <div class="TableImg">
   <%= image_tag "GoldTable.png", width: "250"%></div>
 
 <div class="HeartsImg">
 <%= image_tag "HeartsLogo.png", width: "65" %></div>

   <center>
   	<div class="home-user-btns">
     <!-- <br><br><br><br> -->
     <%= link_to 'Let me find the foodie of my dreams!', users_path, class: 'btn btn-info' %>
    </div>

    <h1>The Dating App For Foodies!</h1>

	<div class="HomePage"></div>
	<div class="HomeShadow"></div>
	<%= video_tag "FlyingHearts.mov", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  	
 